<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="animalBoard">

	<insert id="insertBoard">
		insert into
			animal_board
		values(
			seq_animal_board_id.nextval,
			#{userId},
			#{aniBoTitle},
			#{aniBoContent},
			default,
			#{aniBoTag},
			#{aniBoLocal},
			#{aniBoType},
			#{aniBoKind},
			#{aniBoGender},
			#{aniBoAge},
			#{aniBoSize},
			#{aniBoHair},
			#{aniBoColor},
			#{aniBoCha},
			to_date(#{aniBoMissDate}, 'yyyy-MM-dd')
		)
		<selectKey keyProperty="aniBoId" resultType="_int" order="AFTER">
			select
				seq_animal_board_id.currval
			from
				dual
		</selectKey>
	</insert>
	
	<insert id="insertAttachment">
		insert into
			animal_attach
		values(
			seq_animal_attach_id.nextval,
			#{aniBoId},
			#{aniAtOriginalName},
			#{aniAtRenamedName},
			default
		)
	</insert>
	
	<select id="selectBoardList" resultMap="animalBoardMap">
		select
			* 
		from
			animal_board
		order by
			ani_bo_id desc
	</select>
	
	<select id="selectOneBoard" resultMap="animalBoardMap">
		select
			*
		from
			animal_board
		where
			ani_bo_id = #{no}
	</select>
	
	<select id="selectAttachList" resultMap="animalAttachMap">
		select a.*
		from (select 
              	ani_bo_id,
              	ani_at_original_name,
              	ani_at_renamed_name,
              	row_number() over(partition by ani_bo_id order by ani_at_id)as rowidx
            from animal_attach) a
		where rowIdx = 1
	</select>
	
	<select id="selectCommentList" resultMap="animalCommentMap">
		select
			*
		from
			animal_comment
		where
			ani_bo_id = #{no}
	</select>
	
	<select id="totalComment" resultType="_int">
		select
			count(*)
		from
			animal_comment
		where
			ani_bo_id = #{no}
	</select>
	
	<insert id="insertComment">
		insert into
				animal_comment
		values(
			seq_animal_comment_id.nextval,
			#{aniBoId},
			#{userId},
			#{aniCoContent},
			#{aniCoLevel},
			<if test="aniCoRef == 0">
			null,
			</if>
			<if test="aniCoRef != 0">
			#{aniCoRef},
			</if>
			default
		)
	</insert>
	
	<delete id="deleteBoard">
		delete from
			animal_board
		where
			ani_bo_id = #{no}
	</delete>
	
	<delete id="deleteComment">
		delete from
			animal_comment
		where
			ani_co_id = #{commentNo}
	</delete>
	
	<update id="editComment">
		update
			animal_comment
		set
			ani_co_content = #{aniCoContent}
		where
			ani_co_id = #{aniCoId}
	</update>
	
	<select id="searchBoardList" resultMap="animalBoardMap">
		select
			*
		from
			animal_board
		<where>
	        <if test="aniBoTitle != null and aniBoTitle != ''">
	            and ani_bo_title like '%'||#{aniBoTitle}||'%'
	        </if>
	        <if test="aniBoContent != null and aniBoContent != ''">
	            and ani_bo_content like '%'||#{aniBoContent}||'%'
	        </if>
	        <if test="aniBoTag != null and aniBoTag != ''">
	            and ani_bo_tag like '%'||#{aniBoTag}||'%'
	        </if>
	        <if test="aniBoLocal != null and aniBoLocal != ''">
	            and ani_bo_local like '%'||#{aniBoLocal}||'%'
	        </if>
	        <if test="aniBoType != null and aniBoType != ''">
	        	and ani_bo_type = #{aniBoType}
	        </if>
	        <if test="aniBoKind != null and aniBoKind != ''">
	            and ani_bo_kind like '%'||#{aniBoKind}||'%'
	        </if>
	        <if test="aniBoGender != null and aniBoGender != ''">
	            and ani_bo_gender in
	        	<foreach collection="aniBoGender" separator="," open="(" close=")">
	        		#{aniBoGender}
	        	</foreach>
	        </if>
	        <if test="aniBoAge != null and aniBoAge != ''">
	        	<foreach collection="aniBoAge" item="age">
		            <if test="age == 3">
		    			and ani_bo_age between 0 and 3
		    		</if>
		    		<if test="age == 7">
		    			and ani_bo_age between 4 and 7
		    		</if>
		    		<if test="age == 8">
		    			and ani_bo_age >= 8
		    		</if>
	        	</foreach>
	        </if>
	        <if test="aniBoSize != null and aniBoSize != ''">
	        	<foreach collection="aniBoSize" item="size">
		            <if test="size == 5">
		    		and ani_bo_size between 0 and 4.99
		    		</if>
		    		<if test="size == 9">
		    		and ani_bo_size between 5 and 9.99
		    		</if>
		    		<if test="size == 10">
		    		and ani_bo_size >= 10
		        	</if>
	        	</foreach>
	        </if>
	        <if test="aniBoHair != null and aniBoHair != ''">
	            and ani_bo_hair in
	        	<foreach collection="aniBoHair" separator="," open="(" close=")">
	        		#{aniBoHair}
	        	</foreach>
	        </if>
	        <if test="aniBoColor != null and aniBoColor != ''">
	            and ani_bo_color in
	        	<foreach collection="aniBoColor" separator="," open="(" close=")">
	        		#{aniBoColor}
	        	</foreach>
	        </if>
    	</where>
	</select>
	
	<select id="selectOneBoardAttachList">
		select
			*
		from
			animal_attach
		where
			ani_bo_id = #{no}
	</select>

	<delete id="deleteAttach">
		delete from
			animal_attach
		where
			ani_bo_id = #{aniBoId}
	</delete>
	
	<update id="updateBoard">
		update
			animal_board
		set
			ani_bo_title = #{aniBoTitle},
			ani_bo_content = #{aniBoContent},
			ani_bo_tag = #{aniBoTag},
			ani_bo_local = #{aniBoLocal},
			ani_bo_type = #{aniBoType},
			ani_bo_kind = #{aniBoKind},
			ani_bo_gender = #{aniBoGender},
			ani_bo_age = #{aniBoAge},
			ani_bo_size = #{aniBoSize},
			ani_bo_hair = #{aniBoHair},
			ani_bo_color = #{aniBoColor},
			ani_bo_cha = #{aniBoCha},
			ani_bo_miss_date = to_date(#{aniBoMissDate}, 'yyyy-MM-dd')
		where
			ani_bo_id = #{aniBoId}
	</update>
	
	<select id="selectBoardListOneWeek" resultMap="animalBoardMap">
		<![CDATA[
		select
			*
		from
			animal_board
		where
			ani_bo_date >= to_date(to_char(sysdate-7, 'yyyyMMdd'), 'yyyyMMdd')
			and (ani_bo_tag in ('실종', '보호'))
		]]>
	</select>
	
	<resultMap id="animalBoardMap" type="animalBoard"></resultMap>
	<resultMap id="animalAttachMap" type="animalAttach"></resultMap>
	<resultMap id="animalCommentMap" type="animalComment"></resultMap>
</mapper>