<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="animalBoard">

	<insert id="insertBoard">
		insert into
			animal_board
		values(
			seq_animal_board_id.nextval,
			#{userId},
			#{aniBoTitle},
			#{aniBoContent},
			default,
			#{aniBoTag},
			#{aniBoLocal},
			#{aniBoType},
			#{aniBoKind},
			#{aniBoGender},
			#{aniBoAge},
			#{aniBoSize},
			#{aniBoHair},
			#{aniBoColor},
			#{aniBoCha},
			to_date(#{aniBoMissDate}, 'yyyy-MM-dd')
		)
		<selectKey keyProperty="aniBoId" resultType="_int" order="AFTER">
			select
				seq_animal_board_id.currval
			from
				dual
		</selectKey>
	</insert>
	
	<insert id="insertAttachment">
		insert into
			animal_attach
		values(
			seq_animal_attach_id.nextval,
			#{aniBoId},
			#{aniAtOriginalName},
			#{aniAtRenamedName},
			default
		)
	</insert>
	
	<select id="selectBoardList" resultMap="animalBoardMap">
		select
			*
		from
		    animal_board A left join (select distinct(ani_bo_id), rep_display from report) R
		        			using(ani_bo_id)
		where
			rep_display = 'Y' or rep_display is null
		order by
			ani_bo_id desc
	</select>
	
	<select id="selectOneBoard" resultMap="animalBoardMap">
		select
			*
		from
			animal_board
		where
			ani_bo_id = #{no}
	</select>
	
	<select id="selectAttachList" resultMap="animalAttachMap">
		select a.*
		from (select 
              	ani_bo_id,
              	ani_at_original_name,
              	ani_at_renamed_name,
              	row_number() over(partition by ani_bo_id order by ani_at_id)as rowidx
            from animal_attach) a
		where rowIdx = 1
	</select>
	
	<select id="selectCommentList" resultMap="animalCommentMap">
		select
			*
		from
			animal_comment
		where
			ani_bo_id = #{no}
		start with ani_co_level = 1 
		connect by prior ani_co_id = ani_co_ref 
		order siblings by ani_co_id asc
	</select>
	
	<select id="totalComment" resultType="_int">
		select
			count(*)
		from
			animal_comment
		where
			ani_bo_id = #{no}
	</select>
	
	<insert id="insertComment">
		insert into
				animal_comment
		values(
			seq_animal_comment_id.nextval,
			#{aniBoId},
			#{userId},
			#{aniCoContent},
			#{aniCoLevel},
			<if test="aniCoRef == 0">
			null,
			</if>
			<if test="aniCoRef != 0">
			#{aniCoRef},
			</if>
			default
		)
	</insert>
	
	<delete id="deleteBoard">
		delete from
			animal_board
		where
			ani_bo_id = #{no}
	</delete>
	
	<delete id="deleteComment">
		delete from
			animal_comment
		where
			ani_co_id = #{commentNo}
	</delete>
	
	<update id="editComment">
		update
			animal_comment
		set
			ani_co_content = #{aniCoContent}
		where
			ani_co_id = #{aniCoId}
	</update>
	
	<select id="searchBoardList" resultMap="animalBoardMap">
		select
			*
		from
			animal_board
		<where>
	        <if test="aniBoTitle != null and aniBoTitle != ''">
	            ani_bo_title like '%'||#{aniBoTitle}||'%'
	        </if>
	        <if test="aniBoContent != null and aniBoContent != ''">
	            and ani_bo_content like '%'||#{aniBoContent}||'%'
	        </if>
	        <if test="aniBoTag != null and aniBoTag != ''">
	            and ani_bo_tag like '%'||#{aniBoTag}||'%'
	        </if>
	        <if test="aniBoLocal != null and aniBoLocal != ' '">
	            and ani_bo_local like '%'||#{aniBoLocal}||'%'
	        </if>
	        <if test="aniBoType != null and aniBoType != ''">
	        	and ani_bo_type in
	        	<foreach collection="aniBoType" item="type" separator="," open="(" close=")">
	        		#{type}
	        	</foreach>
	        </if>
	        <if test="aniBoKind != null and aniBoKind != ''">
	            and ani_bo_kind like '%'||#{aniBoKind}||'%'
	        </if>
	        <if test="aniBoGender != null and aniBoGender != ''">
	            and ani_bo_gender in
	        	<foreach collection="aniBoGender" item="gender" separator="," open="(" close=")">
	        		#{gender}
	        	</foreach>
	        </if>
            <if test="aniBoAge == 3">
    			and ani_bo_age between 0 and 3
    		</if>
    		<if test="aniBoAge == 7">
    			and ani_bo_age between 4 and 7
    		</if>
    		<if test="aniBoAge == 8">
    			and ani_bo_age >= 8
    		</if>
            <if test="aniBoSize == 5">
    		and ani_bo_size between 0 and 4.99
    		</if>
    		<if test="aniBoSize == 9">
    		and ani_bo_size between 5 and 9.99
    		</if>
    		<if test="aniBoSize == 10">
    		and ani_bo_size >= 10
        	</if>
	        <if test="aniBoHair != null and aniBoHair != ''">
	            and ani_bo_hair in
	        	<foreach collection="aniBoHair" item="hair" separator="," open="(" close=")">
	        		#{hair}
	        	</foreach>
	        </if>
	        <if test="aniBoColor != null and aniBoColor != ''">
	            and ani_bo_color in
	        	<foreach collection="aniBoColor" item="color" separator="," open="(" close=")">
	        		#{color}
	        	</foreach>
	        </if>
    	</where>
	</select>
	
	<select id="selectOneBoardAttachList">
		select
			*
		from
			animal_attach
		where
			ani_bo_id = #{no}
	</select>

	<delete id="deleteAttach">
		delete from
			animal_attach
		where
			ani_bo_id = #{aniBoId}
	</delete>
	
	<update id="updateBoard">
		update
			animal_board
		set
			ani_bo_title = #{aniBoTitle},
			ani_bo_content = #{aniBoContent},
			ani_bo_tag = #{aniBoTag},
			ani_bo_local = #{aniBoLocal},
			ani_bo_type = #{aniBoType},
			ani_bo_kind = #{aniBoKind},
			ani_bo_gender = #{aniBoGender},
			ani_bo_age = #{aniBoAge},
			ani_bo_size = #{aniBoSize},
			ani_bo_hair = #{aniBoHair},
			ani_bo_color = #{aniBoColor},
			ani_bo_cha = #{aniBoCha},
			ani_bo_miss_date = to_date(#{aniBoMissDate}, 'yyyy-MM-dd')
		where
			ani_bo_id = #{aniBoId}
	</update>
	
	<select id="selectBoardListOneWeek" resultMap="animalBoardMap">
		select
			*
		from
			animal_board left join (select distinct(ani_bo_id), rep_display from report)
						using(ani_bo_id)
		where
			ani_bo_tag in ('실종', '보호')
			and(rep_display = 'Y' or rep_display is null)
	</select>
	<insert id="insertApplication">
		insert into
			adoption_application
		values(
			seq_adopt_id.nextval,
			#{aniBoId},
			#{senderId},
			#{senderLocal},
			#{senderPhone},
			#{senderJob},
			#{senderHome},
			#{a1}, #{a2}, #{a3}, #{a4}, #{a5}, #{a6}, #{a7}, #{a8}, #{a9}, #{a10}, #{a11}, #{a12}, #{a13},
			sysdate,
			#{receiverId}
		)
	</insert>
	<select id="selectShelterAnimalList" resultMap="shelterAnimalMap">
		select
			*
		from
			shelterAnimal
		<where>
	        org_nm like '%'||#{aniBoLocal}||'%'
	        and process_state like '%보호중%'
	        <if test="aniBoGender == '암컷'">
	            and gender_cd in ('Q', 'F')
	        </if>
	        <if test="aniBoGender == '수컷'">
	            and gender_cd in ('Q', 'M') 
	        </if>
	        <if test="aniBoType != null and aniBoType != '기타'">
	            and kind_cd like '%'||#{aniBoType}||'%'
	        </if>
	        <if test="aniBoType == '기타'">
	            and kind_cd like '기타축종'
	        </if>
	        <if test="aniBoKind != null and aniBoKind != '코리안숏헤어'">
	            and kind_cd like '%'||#{aniBoKind}||'%'
	        </if>
	        <if test="aniBoKind == '코리안숏헤어'">
	            and kind_cd like '%한국 고양이%'
	        </if>
		</where>
	</select>
	
	<insert id="insertReport">
		insert into
			report
		values(
			#{aniBoId},
			#{userId},
			#{repContent},
			default,
			default,
			#{repDoUser},
			seq_report_id.nextval
		)
	</insert>
	
	<select id="selectOneReport" resultMap="reportMap">
		select
			*
		from
			report
		where
			ani_bo_id = #{aniBoId}
			and rep_do_user = #{repDoUser}
	</select>
	
	<select id="animalBoardCount" resultType="_int">
		select
			count(*)
		from
			animal_board left join report using(ani_bo_id) 
		where
			rep_display = 'Y' or rep_display is null
	</select>
	
	<select id="selectAttachListOneBoard" resultMap="animalAttachMap">
		select
			*
		from
			animal_attach
		where
			ani_bo_id = #{no}
	</select>
	
	<select id="selectOneApplication" resultMap="adoptApplicationMap">
		select
			*
		from
			adoption_application
		where
			adopt_id = #{no}
	</select>
	
	<resultMap id="adoptApplicationMap" type="AdoptApplication"></resultMap>
	<resultMap id="reportMap" type="report"></resultMap>
	<resultMap id="shelterAnimalMap" type="shelterAnimal"></resultMap>
	<resultMap id="animalBoardMap" type="animalBoard"></resultMap>
	<resultMap id="animalAttachMap" type="animalAttach"></resultMap>
	<resultMap id="animalCommentMap" type="animalComment"></resultMap>
</mapper>