section {
    background-color: #e8c2b7;
    padding: 20px 0 50px;
}

.logo {
    width: 275px;
    height: 92px;
    background: url("${pageContext.request.contextPath }/resources/images/logo.png") no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.title {
	font-size: 20px;
	font-weight: bold;
}
.adopt {
    margin: 130px auto 10px;
    width: 550px;
    padding: 30px;
    background-color: white;
    border-radius: 30px;
}
.adopt h1 {
	text-align: center;
	margin: 20px 0px 30px 0px;
}
.adopt input[type=radio] {
	margin: 15px 0px 15px 30px;
}
.adopt p {
    display: inline-block;
    width: 500px;
    white-space: pre-line;
    height: 36px;
    margin: 0px auto;
    padding-left: 33px;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: lightgray;
}
.adopt label {
    display: block;
    color: #808080;
    margin: 15px 28px 5px 28px;
}
.adopt .radio-label {
	display: inline;
    color: black;
    margin: 15px 0px;
}

#type {
	width: 225px;
}

.button-wrap {
	width: 320px;
	margin: 0px auto 50px;
}
.button-wrap input[type=button] {
	height: 40px;
    border: 1px solid #FFDD93;
    background-color: #FFDD93;
    color: #373b44;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    padding: 0px 10px;
}
.button-wrap input[type=button]:focus {
	outline-color: #f2aa8a;
}