*{
    margin: 0;
    padding: 0;
    list-style: none;
    color: black;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

* { font-family: 'NanumSquare', sans-serif !important; }