
.main {
    width: 1440px;
    height: 716px;
    background: url("../images/main.jpg") no-repeat center -40px;
    background-size: 1440px;
    margin:0 auto;
}

section.content-wrap {
    width: 100%;
    margin-top: 0px;
    margin-bottom:0px;
    z-index:0;
}

.content-wrap .content {
    width: 1062px;
    margin: 0 auto;
}

.content-wrap .content .title {
    font-size: 24px;
    margin-bottom: 30px;
}
/* 
.content-wrap .content ul li {
    margin-right: 15px;
    display: inline-block;
}

.content-wrap .content ul li:nth-child(4n) {
    margin-right: 0px;
}

.content-wrap .content ul li:nth-child(n+5) {
    margin-top: 15px;
} */

.content-wrap .content ul li img {
    width: 250px;
    height: 250px;
    border-radius: 40px 0 40px 0px;
}

.total-wrap{
    width: 100%;
    height: 180px;
    background-color: #E6BCB0;
    text-align: center;
    margin-top: 100px;
}
.total-wrap h1{
    font-size: 38px;
    color:white;
    line-height: 80px;
}

.total-wrap p{
    color: white;
    line-height: 25px;
    margin-top: 10px;
}

.content-wrap .content2 {
    width: 100%;
    background-color: #ededed;
    overflow: hidden;
}

.content2 .content2-wrap{
    width:1440px;
    margin: 0 auto;
    padding-top:50px;
}

.content2 .map .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color:#55423B;
}

.content2 .map {
    width: 540px;
    height: 560px;
    float: left;
    background-color: #ededed;
}

.content2 .map svg{
    width: 475px;
    height: 450px;
    margin: 35px 0 0 92px;
}

polyline{
    cursor: pointer;
}

.content2 .stats-wrap {
    width: 900px;
    height: 490px;
    float: left;
}


.content2 .stats-wrap .canvas-wrap {
    width: 1131px;
    height: 460px;
    background: white;
    border-radius: 200px 0 0 0;
}

.content2 .stats-wrap .stats {
    width: 285px;
    height: 300px;
    margin-top: 90px;
    float: left;
}

.content2 .stats-wrap .stats:nth-child(1){
    margin-left: 115px;
    margin-right: 25px; 
}

.content2 .stats-wrap ul {
    width: 390px;
    margin: 10px 0 50px 290px;
}

.content2 .stats-wrap ul li {
    width: 100px;
    height: 40px;
    display: inline-block;
    background-color: white;
    margin-left: 25px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    color: #ededed;
    cursor: pointer;
}
.content2 .stats-wrap ul .on{
    background-color: #55423B;
    color:white;
}

.stats-wrap ul li:hover{
	background-color: #55423B;
    color:white;
}
.content-wrap .slidebanner{position:relative;height:250px;width:985px;overflow:hidden;}
.content-wrap .slidebanner .bannerbox{position:absolute;margin:0;padding:0;}
.content-wrap .slidebanner li{float:left;list-style:none;margin-left:10px}
.content-wrap .slidebanner li:first-child{margin:0}