
.main {
    width: 1440px;
    height: 716px;
    background: url("../images/main.jpg") no-repeat center -40px;
    background-size: 1440px;
    margin:0 auto;
}

section.content-wrap {
    width: 100%;
    margin-top: 0px;
    margin-bottom:0px;
    z-index:0;
}

.content-wrap .content {
    width: 1200px;
}

.content-wrap .content .missing-title, .protect-title {
    font-size: 24px;
}
.content-wrap .content .missing-title {
    color: #F08080;
}
.content-wrap .content .protect-title {
	margin-top: 50px;
    color: #5F9EA0;
}

.slider div {
    margin-top: 10px;
    height: 300px;
    text-align: center;
}
.slider img {
    width: 200px;
    height: 200px;
    margin: 0px auto;
}
.slick-center {
    transform: scale(1.2);
    background-color: white;
}
.slider div p {
	margin: 0px auto;
	width: 200px;
	display: inilne-block;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.slider div .post-title {
	font-weight: bold;
	font-size: 16px;
}
.slider div .post-local {
	font-size: 12px;
}

.total-wrap{
    width: 100%;
    background-color: #E6BCB0;
    text-align: center;
    margin-top: 100px;
}
.total-wrap h1{
    font-size: 38px;
    color:white;
    line-height: 80px;
}

.total-wrap p{
    color: white;
    line-height: 25px;
    margin-top: 10px;
}

.content-wrap .content2 {
    width: 100%;
    background-color: #ededed;
    overflow: hidden;
}

.content2 .content2-wrap{
    width:1440px;
    margin: 0 auto;
    padding-top:50px;
}

.content2 .map .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color:#55423B;
}

.content2 .map {
    width: 540px;
    height: 560px;
    float: left;
    background-color: #ededed;
}

.content2 .map svg{
    width: 475px;
    height: 450px;
    margin: 35px 0 0 92px;
}

polyline{
    cursor: pointer;
}

.content2 .stats-wrap {
    width: 900px;
    height: 490px;
    float: left;
}


.content2 .stats-wrap .canvas-wrap {
    width: 1131px;
    height: 460px;
    background: white;
    border-radius: 200px 0 0 0;
}

.content2 .stats-wrap .stats {
    width: 285px;
    height: 300px;
    margin-top: 90px;
    float: left;
}

.content2 .stats-wrap .stats:nth-child(1){
    margin-left: 115px;
    margin-right: 25px; 
}

.content2 .stats-wrap ul {
    width: 390px;
    margin: 10px 0 50px 290px;
}

.content2 .stats-wrap ul li {
    width: 100px;
    height: 40px;
    display: inline-block;
    background-color: white;
    margin-left: 25px;
    text-align: center;
    line-height: 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    color: #ededed;
    cursor: pointer;
}
.content2 .stats-wrap ul .on{
    background-color: #55423B;
    color:white;
}

.stats-wrap ul li:hover{
	background-color: #55423B;
    color:white;
}

.checkList{
	width:148px;
	height:53px;
	display:block;
	position:fixed;
	transition:0.5s;
	border-radius: 30px;
    text-align: center;
    line-height: 53px;
	background-color:white;
	-webkit-box-shadow: -1px 4px 21px -8px rgba(136,136,136,1);
	-moz-box-shadow: -1px 4px 21px -8px rgba(136,136,136,1);
	box-shadow: -1px 4px 21px -8px rgba(136,136,136,1);
	font-size:14px;
}

.checkList:hover{
	background-color:#FFDD93;
}

.checkList svg{
	position:relative;
	top:3px;
	left:-5px;
}