
section{
	background-color: #e8c2b7	;
	
}
.main-content{
	width: 1000px;
	background-color: white;
	border-radius: 20px
}
div h3{
	padding: 20px;
}
section.msg-content{
	padding-top:200px;
    padding-left: 250px;
}

.message-detail{
	margin: auto;
	width: 800px;
	height: max-content;
}
.message-detail-content{
	position: relative;
}
.msg-background .messge-detail-content::after {
	content:"";
    display:block;
    clear:both;
}

.message-Date{
	 margin-top: 30px;
	 float: right;
}
.empty-login-message{
	text-align: center;
}
.userId{
	padding-left: 10px;
}
.message-userTable{
	padding-top:20px; padding-left: 10px;
}
.msg-background{
 	margin-top: 10px;
 	background-color:#e8c2b7;
 	overflow:auto;
 	width: 800px;
 	height: 300px;
 	position: relative;
 	left: 100px;
}
.message-detail-date{
	text-align: center;
	padding: 7px;
	clear:both;
	background-color: rgb(197,165,156);
	color: white;
	border-radius: 20px;
	margin: 10px 0px;
}
.message-detail-receive{
	max-width: 350px;
    padding: 1em;
	background-color: white;
	border-top-right-radius:20px;
	border-bottom-right-radius: 20px;
    float: left;
    word-break:break-all;
    margin: 5px 0px;
    font-size: 14px;
}
.time{
	display: block;
    margin: 30px 5px 0px 5px;
    font-size: 12px;
    color: #898989;
}

.message-detail-send{
    max-width: 350px;
    padding: 1em;
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px;
    float: right;
    background-color: rgb(255,221,147);
    word-break:break-all;
    margin: 5px 0px;
    font-size: 14px;
}
.messge-detail-content > span {
    display: inline-block;
}
.messge-detail-content.mine {
    text-align: right;
}
.sendMsg{
	clear:both;  padding-top: 10px;
	
}
.sendMsg input[type=text]{
	width: 683px; height: 32px;
	border: none;
}
.sendMsg input[type=text]:focus{
	outline-color: #f2aa8a;
	border: 1px solid rgb(255,221,147);
}

.sendMsg input[type=submit]{
	width: 100px; height: 32px;
	background-color: rgb(255,221,147);
	border: none;
	font-weight: bold;
	color: #373b44;
	font-size: 15px;
}
.sendMsg input[type=submit]:focus{
	outline-color: #f2aa8a;
}
.msg-background {
	display: none;
}
.message-userTable :nth-child(2) {
	display: inline-block;
	width: 600px;
	margin-left: 30px;
	word-break:break-all;
}