.main {
    width: 1440px;
    height: 716px;
    background: url("../images/sub6.jpg") no-repeat center;
    background-size: 1440px;
    margin: 0 auto;
}

.board-container {
    width: 1000px;
    border: 1px solid lightgray;
    margin: 50px auto 10px;
    padding: 30px;
}

.board-header {
    border-bottom: 1px solid lightgray;
    padding: 0px 20px 10px 20px;
    font-size: 26px;
    position: relative;
}

.board-title {
    margin-bottom: 10px;
}

.writer {
    font-size: 13px;
}

.write-time {
    font-size: 12px;
    font-weight: normal;
    color: #979797;
}

.header-comment-view {
    font-size: 16px;
    float: right;
    margin-top: 12px;
    text-decoration: underline;
}

.board-content {
    padding: 20px;
}

#board-comment-container {
    padding: 20px 0px;
}
.comment-header {
    padding-left: 20px;
    padding-bottom: 10px;
}

.report-btn {
    float: right;
    margin-bottom: 10px;
    background: url(https://ssl.pstatic.net/imgstock/images5/ico_report.gif) no-repeat left;
    display: block;
    width: 40px;
    text-align: right;
}

.board-comment,
.board-comment-reply {
    font-size: 13px;
    padding: 10px 20px;
    font-weight: normal;
    border-top: 1px solid lightgray;
}

.board-comment *,
.board-comment-reply * {
    margin-bottom: 5px;
}

.comment-time {
    font-size: 12px;
    color: #979797;
}

.reply-btn {
    color: #979797;
}

.board-comment-reply {
    padding: 10px 20px 10px 50px;

}

/*댓글*/
.comment-write {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.comment_inbox_text {
    border: none;
    padding: 10px 20px;
    overflow-wrap: break-word;
    overflow: visible;
    resize: none;
    max-height: 500px;
    width: 890px;
}

.comment_inbox_text:focus {
    outline: none;
}

button {
    border: none;
    background-color: #ffdd93;
    color: white;
    padding: 5px 8px;
    margin-right: 10px;
    outline: none;
    border-radius: 5px;
}

.btn-align {
    text-align: right;
}

/*답글쓰기 창*/
.comment-reply-write {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin-left: 50px;
}
form span {
	font-weight: bold;
}

.comment-reply-write form textarea {
    width: 850px;
}

.writer-menu {
    margin-left: 20px;
    margin-top: 4px;
    overflow-y: auto;
    position: absolute;
    top: auto;
    left: 0;
    max-height: 416px;
    padding: 10px 0;
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: 6px;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .06);
    background-color: #fff;
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
    font-weight: normal;
    display: none;
}

.writer-menu>ul>li {
    display: block;
    min-width: 100px;
    height: 36px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 13px;
    line-height: 37px;
    white-space: nowrap;
    color: #000;
}

.writer-menu>ul>li:hover {
    background-color: #f5f6f8;
}

.pet-info span {
    padding: 3px 5px;
    background-color: #ffebbf;
    /* color: orange; */
    border-radius: 3px;
}
.similar-container {
	margin: 20px 0px;
}
.similar-container legend {
	font-weight: bold;
	margin-left: 20px;
	padding: 10px;
}
.similar-container fieldset {
	padding: 10px;
	border: none;
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
}
.slider {
	width: 1000px;
	height: 200px;
}
.slider img {
	width: 180px;
	height: 180px;
	margin: 10px;
}
.report-btn:hover {
	cursor: pointer;
}
.reply-btn {
	border: none;
    background-color: white;
}
.reply-btn:focus {
	outline: none;
}

.reply-btn:hover, .writer:hover {
	cursor: pointer;
}
/*하단 수정삭제 버튼*/
.board-delete-btn, .board-edit-btn{
	float: right;
	margin: 0px 0px 0px 10px;
}

button:hover {
	cursor: pointer;
}
.btn-wrap {
	width: 1060px;
	margin: auto;
}
.icon {
	float: right;
}
.icon:hover {
	cursor: pointer;
}
.id-box {
	display: inline-block;
	margin-bottom: 5px;
	font-size: 15px;
	font-weight: bold;
}
.comment-menu {
	width: 50px;
    margin-top: 4px;
    float: right;
    overflow-y: auto;
    position: absolute;
    top: auto;
    right: 328px;
    padding: 8px 0;
    border: 1px solid rgba(0, 0, 0, .06);
    border-radius: 6px;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, .06);
    background-color: #fff;
    box-sizing: border-box;
    color: #000;
    font-size: 14px;
    text-align: center;
    display: none;
}
.comment-menu>ul>li:hover {
	background-color: #f5f6f8;
	cursor: pointer;
}
.edit {
	margin-top: 10px;
	border-radius: 10px;
	border: 1px solid lightgray;
}

.comment-edit-btn {
	float: right;
    padding: 5px;
    margin-right: 27px;	
}
