.main {
    width: 1440px;
    height: 716px;
    background: url("../images/sub1.jpg") no-repeat center;
    background-size: 1440px;
    margin: 0 auto;
}
form[name=boardFrm] {
    width: 1000px;
    margin: 50px auto;
}
.title {
    margin: 20px auto;
}
.title select {
    width: 120px;
    height: 36px;
    border: 1px solid #ebecef;
    font-size: 15px;
}
.title > input {
    float: right;
    padding: 0 10px;
    height: 34px;
    width: 840px;
    font-size: 15px;
    border: 1px solid #ebecef;
    margin-right: 10px;
}
.title :focus{
    border: 1px solid #FFDD93;
    outline: none;
}
.btn {
    float: right;
    width: 56px;
    height: 38px;
    border: 1px solid #FFDD93;
    background-color: #FFDD93;
    color: #373b44;
    font-weight: bold;
    margin-left: 10px;
}
form textarea {
    height: 550px;
}
table {
    width: 700px;
    text-align: left;
    margin-bottom: 10px;
    margin: 10px 0px;
}
table th {
    padding-right: 10px;
}
table td,th {
   width: 160px;
   padding: 5px;
}
.button-wrap {
	height: 40px;
}
.pet-info select {
    padding: 0px 10px;
    width: 160px;
    height: 32px;
    border: 1px solid #ebecef;
}
#aniBoKind {
	width: 250px;
}
.pet-info input[type=text], input[type=number] {
    height: 30px;
    width: 400px;
    padding: 0 10px;
    border: 1px solid #ebecef;
}
.pet-info input[type=number] {
	width: 138px;
}
.pet-info input[type=date] {
    padding: 0 10px;
    height: 30px;
    width: 138px;
    border: 1px solid #ebecef;
}
.pet-info input:focus, select:focus {
    outline: none;
    border: 1px solid #FFDD93;
}