.main {
    width: 1440px;
    height: 716px;
    background: url("../images/sub2.jpg") no-repeat center;
    background-size: 1440px;
    margin: 0 auto;
}

.border {
    margin: auto;
    width: 980px;
}

.content-wrap .content img {
    width: 200px;
    height: 180px;
    border-radius: 40px 0 40px 0;
}

.content-wrap .post-wrap {
    width: 915px;
    margin: 0 auto;
    overflow: hidden;
}

.content .post {
    width: 200px;
    float: left;
    margin: 20px 10px;
    text-decoration: none;
}

.post:nth-child(4n+1) {
    margin-left: 25px;
}

/*게시글 말머리*/
.post :nth-child(3) {
    font-size: 20px;
}

/*게시글 제목 밑에 간격*/
.post :nth-child(5) {
    margin-top: 10px;
}

.post p,
span {
    font-size: 14px;
    margin-top: 5px;
}

#post-title {
	width: 140px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

hr {
    width: 200px;
    margin: 10px auto;
    height: 1px;
    background-color: lightgray;
    border: 0;
}

.tag+span {
    font-size: 18px;
}

/*게시글 작성 날짜*/
.post span:last-child {
    float: right;
    margin-right: 10px;
}

/*상단 검색부분*/
.pet-info {
    width: 883px;
    margin: 0 auto;
    text-align: left;
    border-collapse: collapse;
}

.pet-info th,
td {
    padding: 5px 10px;
}
.pet-info tr td select {
    height: 36px;
    border: 1px solid #ebecef;
	
}
.pet-info tr td select:focus {
    border: 1px solid #FFDD93;
	outline: 1px solid #FFDD93;
}
#top-search-btn {
	float: right;
	width: 68px;
    height: 36px;
    border: 1px solid #FFDD93;
    background-color: #FFDD93;
    color: #373b44;
    font-size: 16px;
    font-weight: bold;
}
#top-search-btn:focus {
	outline-color: #f2aa8a;	
}

/*하단 검색부분*/
.content .search-wrap {
    width: 420px;
    margin: 50px auto;
    text-align: center;
    overflow: hidden;
}

.content .search * {
    float: left;
}

.search-wrap select {
    width: 100px;
    height: 36px;
    padding: 0px 12px;
    font-size: 16px;
    size: 34px;
    border: 1px solid #ebecef;
}

.search-wrap select:focus {
    border: 1px solid #FFDD93;
    outline-color: #FFDD93;
}

.search-wrap input {
    width: 200px;
    height: 32px;
    padding: 0px 12px;
    margin: 0px 10px;
    border: 1px solid #ebecef;
}

.search-wrap input:focus {
    width: 202px;
    height: 34px;
    padding: 0px 12px;
    border: 1px solid #FFDD93;
    outline-color: #FFDD93;
}

.search-wrap button {
    width: 56px;
    height: 36px;
    border: 1px solid #FFDD93;
    background-color: #FFDD93;
    color: #373b44;
    font-size: 16px;
    font-weight: bold;
}
.search-wrap button:focus {
	outline-color: #f2aa8a;	
}
.post .tag {
	font-size: 20px;
}
.missing {
    color: #F08080;
}
.sighting {
    color: #F0EF97;
}

.protect {
    color: #5F9EA0;
}
.write-btn {
	float: right;
	width: 68px;
    height: 36px;
    margin-right: 80px;
    margin-bottom: 20px;
    border: 1px solid #FFDD93;
    background-color: #FFDD93;
    color: #373b44;
    font-size: 16px;
    font-weight: bold;
}
.write-btn:focus {
	outline-color: #f2aa8a;	
}


/********** 전체컨테이너 **********/
div#container	{}

/********** header **********/
header div#header-container {height:100px;}
header div#header-container h2 	{margin:30px 10px 0px 10px;}


/********** content **********/
section#content		{min-height:600px;}


/********** footer **********/
footer	{background-color:#f8f9fa; background-clip:content-box; clear:both; height:95px; text-align:center;}
footer p 	{margin-top:30px;}

