.main {
    width: 1440px;
    height: 716px;
    background: url("../images/sub3.jpg") no-repeat center;
    background-size: 1440px;
    margin: 0 auto;
}

.border {
    margin: auto;
    width: 980px;
}

.post-wrap {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;
}

.content .post {
    width: 200px;
    float: left;
    margin: 10px;
}

.shelter-animal{
	width: 850px;
	margin: 0 auto;
	font-size: 13px;
	border-collapse: collapse;
}

.shelter-animal img {
    width: 300px;
    height: 300px;
    border-radius: 40px 0 40px 0;
}
.shelter-animal tr{
	border: 1px solid lightgray;
	height: 40px;
}
.shelter-animal th{
	border: 1px solid lightgray;
	font-color: #373b44;
	background-color: #FFFBF3;
}
.shelter-animal td{
	border: 1px solid lightgray;
}


.shelter-animal tr th {
	width: 105px;
}

.shelter-animal tr :nth-child(1) {
	border-left: 1px solid white;
}

.shelter-animal tr :nth-last-child(1) {
	border-right: 1px solid white;
}

#btn-back {
	padding: 3px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin-top: 35px;
    width: 50px;
    height: 30px;
}

/*상단 검색부분*/
.preference {
    width: 883px;
    margin: 0 auto;
    text-align: left;
    border-collapse: collapse;
}

.preference th,
td {
    padding: 5px 10px;
}

/*하단 검색부분*/
.content .search {
    width: 360px;
    margin: 50px auto;
    text-align: center;
    overflow: hidden;
}

.content .search * {
    float: left;
}

.search select,
option {
    width: 80px;
    height: 36px;
    padding: 0px 12px;
    font-size: 16px;
    size: 34px;
    border-right: none;
}

.search input {
    width: 200px;
    height: 32px;
    padding: 0px 12px;
}

.search input:focus {
    width: 202px;
    height: 34px;
    padding: 0px 12px;
    border: 1px solid #FF8A00;
    outline: 1px solid #FFDD93;
}

.search button {
    width: 56px;
    height: 36px;
    border: 1px solid #FFDD93;
    background-color: #FFDD93;
    color: #373b44;
    font-size: 16px;
    margin: 0px 0px 0px -5px;
    outline: none;
    cursor: pointer;
}

.missing {
    color: #F08080;
}

.protect {
    color: #5F9EA0;
}