<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewboard">
<!-- 게시판목록 -->
<select id="selectReviewBoardList" resultMap="reviewBoardMap">
	select 
		*
	from 
		review_board 
    order by 
      	rew_bo_id desc
</select>
	
<resultMap id="reviewBoardMap" type="reviewBoard">
</resultMap>
 
<!-- 게시판 글 작성  -->
  	<insert id="insertReviewBoard">
		insert into 
			review_board  
			(rew_bo_id,
			 user_id,
			 rew_bo_title,
			 rew_bo_content
			 
			 )
		values(
		seq_review_board_id.nextval,
			#{userId},
			#{rewBoTitle},
			#{RewBoContent}
		)
		
		
	
	</insert> 


	<insert id="insertAttachment">
			insert into
				animal_attach
			values(
				seq_animal_attach_id.nextval,
				#{aniBoId},
				#{aniAtOriginalName},
				#{aniAtRenamedName},
				default
			)
		</insert>
	
</mapper>