<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewBoard">
<!-- <select id="selectReviewBoardList" resultMap="reviewBoardMap">
	select 
		rew_bo_id,
		user_id,
		rew_bo_title,
		rew_bo_content,
		rew_bo_reg_date
	from review_board
	order by rew_bo_id desc
	</select>
	
	<resultMap id="reviewBoardMap" type="review">
	
	</resultMap>
	 -->
	
</mapper>