<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
		<insert id="insertUser">
		 insert into 
		 		tb_user
		 	values(
		 			#{ userId },
					#{ password },
					#{ email },
					#{ birthDay },
					#{ phone },
					#{ address }, default
					)
		
		</insert>
		
		<select id="selectOneUser" resultMap="userMap">
			select 
				*
			from 
				tb_user
			where 
				user_id = #{ userId }
		</select>
		
 		<resultMap type="user" id="userMap">
	
		</resultMap>
	
		<update id="updateUser">
		update 
			"user"
		set 
			user_pwd = #{ password },
			user_email = #{ email },
			user_birth_date = #{ birthDay },
			user_phone = #{ phone },
			user_local = #{ address }
		where 
			user_id = #{ userId }
		</update>
		
	</mapper>
	
