<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="user">
		<insert id="insertUser">
		 insert into 
		 		tb_user
		 	values(
		 			#{ userId },
					#{ userPwd },
					#{ userEmail },
					#{ userBirth },
					#{ userPhone },
					#{ userLocal }, default,
					#{ postNo }, #{ userLocalDetail }
					)
		</insert>
		
		<select id="selectOneUser" resultMap="userMapppp">
			select 
				*
			from 
				tb_user
			where 
				user_id = #{ userId }
		</select>
	
		<resultMap type="user" id="userMapppp">
			<result column="user_birth_date" property="userBirth"/> 
		</resultMap>
<!-- 		<resultMap type="user" id="userMapppp">
			<id column="user_id" property="userId"/>
			<result column="user_pwd" property="userPwd"/> 
			<result column="user_eamil" property="userEmail"/> 
			<result column="user_phone" property="userPhone"/>
			<result column="user_local" property="userLocal"/>
			<result column="user_role" property="userRole"/>
		</resultMap> -->
	
	
		<!-- 회원정보 수정 -->
		<update id="updateUser">
		update 
			tb_user
		set 
			user_email = #{ userEmail },
			user_birth_date = #{ userBirth },
			user_phone = #{ userPhone },
			post_no = #{ postNo }, 
			user_local = #{ userLocal },
			user_local_detail = #{ userLocalDetail }
		where 
			user_id = #{ userId }
		</update>
		
		<!-- 회원탈퇴 -->
		<delete id="userDelete">
			delete from tb_user
			where
			user_id = #{ userId }
		</delete>
		
		<select id="selectUserList" resultMap="userMapppp">
			select
				*
			from
				tb_user
			where
				user_phone = #{userPhone}
		</select>
		
	</mapper>
	
