<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="admin">

	<select id="adminUser" resultMap="user">
		SELECT  
       		u.*, 
       		NVL(r.Cnt, 0) as Cnt 
		FROM tb_user u 
		LEFT JOIN 
    		(SELECT r.user_id, count(1) Cnt
     			FROM report r
    			GROUP BY r.user_id) r
			ON u.user_id=r.user_id
		order by u.user_role
	</select>
	
	<select id="adminSearch" resultMap="user">
		SELECT  
       		u.*, 
       		NVL(r.Cnt, 0) as Cnt 
		FROM tb_user u 
		LEFT JOIN 
    		(SELECT r.user_id, count(1) Cnt
     			FROM report r
    			GROUP BY r.user_id) r
			ON u.user_id=r.user_id
            where u.user_id like #{keyword}
	</select>
	
	<resultMap id="user" type="adminUser">
		<id column="user_id" property="userId"></id>
		<result column="user_pwd" property="userPwd"></result>
		<result column="user_email" property="userEmail"></result>
		<result column="user_birth_date" property="userBirth"></result>
		<result column="user_phone" property="userPhone"></result>
		<result column="user_local" property="userLocal"></result>
		<result column="user_role" property="userRole"></result>
		<result column="cnt" property="cnt"></result>
	</resultMap>
	
	<delete id="adminDel">
		delete from tb_user where user_id = #{id}
	</delete>
	
	
	<select id="adminReport" resultMap="report">
		select r.ani_bo_id,
            r.user_id,
            r.rep_content,
            r.rep_display,
            r.rep_date,
            r.rep_do_user
		from report r
		join animal_board b on  r.ani_bo_id = b.ani_bo_id
		order by rep_date desc
	</select>

	<select id="adminReportDay" resultMap="report">
		select r.ani_bo_id,
            r.user_id,
            r.rep_content,
            r.rep_display,
            r.rep_date,
            r.rep_do_user
		from report r
		join animal_board b on  r.ani_bo_id = b.ani_bo_id
		where r.rep_date <![CDATA[ >  ]]> #{day}
		order by rep_date desc
	</select>

	<select id="animalDayCnt" resultType="_int">
		select count(*)
		from report r
		join animal_board b on  r.ani_bo_id = b.ani_bo_id
		where r.rep_date <![CDATA[ >  ]]> #{day}
		order by rep_date desc
	</select>
	
	<select id="searchReport" resultMap="report">
		select r.ani_bo_id,
            r.user_id,
            r.rep_content,
            r.rep_display,
            r.rep_date,
            r.rep_do_user
		from report r
		join animal_board b on  r.ani_bo_id = b.ani_bo_id
        where r.user_id like #{keyword}
		order by rep_date desc
	</select>

	<select id="animalYn" resultMap="report">
		select r.ani_bo_id,
            r.user_id,
            r.rep_content,
            r.rep_display,
            r.rep_date,
            r.rep_do_user
		from report r
		join animal_board b on  r.ani_bo_id = b.ani_bo_id
        where rep_display like #{yn}
		order by rep_date desc
	</select>
	
	<select id="reportReviewList" resultMap="report">
		select r.ani_bo_id,
            r.user_id,
            r.rep_content,
            r.rep_display,
            r.rep_date,
            r.rep_do_user
		from report r
		join review_board b on  r.ani_bo_id = b.rew_bo_id
		order by rep_date desc
	</select>

	<select id="reportReviewListDay" resultMap="report">
		select r.ani_bo_id,
            r.user_id,
            r.rep_content,
            r.rep_display,
            r.rep_date,
            r.rep_do_user
		from report r
		join review_board b on  r.ani_bo_id = b.rew_bo_id
			where r.rep_date <![CDATA[ >  ]]> #{day}
		order by rep_date desc
	</select>

	<select id="reviewDayCnt" resultType="_int">
		select count(*)
		from report r
		join review_board b on  r.ani_bo_id = b.rew_bo_id
			where r.rep_date <![CDATA[ >  ]]> #{day}
		order by rep_date desc
	</select>

	<select id="reportYn" resultMap="report">
		select r.ani_bo_id,
            r.user_id,
            r.rep_content,
            r.rep_display,
            r.rep_date,
            r.rep_do_user
		from report r
		join review_board b on  r.ani_bo_id = b.rew_bo_id
		where rep_display like #{yn}
		order by rep_date desc
	</select>
	
	<select id="searchReviewReport" resultMap="report">
		select r.ani_bo_id,
            r.user_id,
            r.rep_content,
            r.rep_display,
            r.rep_date,
            r.rep_do_user
		from report r
		join review_board b on  r.ani_bo_id = b.rew_bo_id
        where r.user_id like #{keyword}
		order by rep_date desc
	</select>
	
	<resultMap id="report" type="Report">
		<id column="ani_bo_id" property="aniBoId"></id>
		<result column="user_id" property="userId"></result>
		<result column="rep_content" property="repContent"></result>
		<result column="rep_display" property="repDisplay"></result>
		<result column="rep_date" property="repDate"></result>
		<result column="rep_do_user" property="repDoUser"></result>
	</resultMap>
	
	<delete id="reportRemove">
		delete from animal_board ab
		where exists(
		    select * from report r where r.ani_bo_id = ab.ani_bo_id and r.ani_bo_id = #{no}
		)
	</delete>

	<delete id="reportReviewDel">
		delete from review_board rb
		where exists(
		    select * from report r where r.ani_bo_id = rb.rew_bo_id and r.ani_bo_id = #{no}
		)
	</delete>
	
	<update id="reportDel">
		delete from report where ani_bo_id = #{no}
	</update>
	
	<update id="reportYN">
		update report set rep_display
		<if test="yn.equalsIgnoreCase('Y')">
				= 'N'
		</if>
		<if test="yn.equalsIgnoreCase('N')">
				= 'Y'
		</if>
		where ani_bo_id = #{no}
	</update>
	
	<select id="totalUser" resultType="_int">
		select count(*) from tb_user
	</select>

	<select id="totalSearchUser" resultType="_int">
		select count(*) from tb_user where user_id like #{keyword}
	</select>
	
	<select id="totalAnimalReport" resultType="_int">
		select count(*)
		from report r
		join animal_board b on  r.ani_bo_id = b.ani_bo_id
	</select>

	<select id="totalReviewReport" resultType="_int">
		select count(*) 
		from report r
		join review_board b on  r.ani_bo_id = b.rew_bo_id
	</select>
	
	<select id="totalAnimalSearchReport" resultType="_int">
		select count(*)
		from report r
		join animal_board b on  r.ani_bo_id = b.ani_bo_id
		where r.user_id like #{keyword}
	</select>

	<select id="totalReviewSearchReport" resultType="_int">
		select count(*) 
		from report r
		join review_board b on  r.ani_bo_id = b.rew_bo_id
		where r.user_id like #{keyword}
	</select>
	
	<update id="adminRole">
		update tb_user set user_role
		<if test="role.equalsIgnoreCase('R')">
				= 'U'
		</if>
		<if test="role.equalsIgnoreCase('U')">
				= 'R'
		</if>
		where user_id = #{id}
	</update>
	
	<select id="searchRole" resultMap="user">
		SELECT  
       		u.*, 
       		NVL(r.Cnt, 0) as Cnt 
		FROM tb_user u 
		LEFT JOIN 
    		(SELECT r.user_id, count(1) Cnt
     			FROM report r
    			GROUP BY r.user_id) r
			ON u.user_id=r.user_id
            where u.user_role like #{role}
	</select>
	
	<select id="selectTagList" resultMap="animalTagVO">
		select *
		from animal_tag
		order by buy_date desc
	</select>
	<resultMap type="AnimalTag" id="animalTagVO">
	</resultMap>
</mapper>