<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>base::</title>
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/footer.css">
    <script src="js/jquery-3.3.1.min.js"></script>
    <style>
        .main {
            width: 1440px;
            height: 716px;
            background: url("img/sub1.jpg") no-repeat center;
            background-size: 1440px;
            margin: 0 auto;
        }

        
    </style>
</head>

<body>
    <header>
        <div class="main-bar">
            <ul>
                <li>로그인</li>
                <li>회원가입</li>
                <li>마이페이지</li>
                <li>고객센터</li>
            </ul>
        </div>
    </header>
    <div class="menu main-bar">
        <ul>
            <div class="logo"></div>
            <li>사이트소개</li>
            <li>유실유기동물</li>
            <li>임시보호처</li>
            <li>입양후기</li>
            <li>인식표</li>
            <li>보호소</li>
            <li>통계</li>
        </ul>
    </div>
    <div id="main-wrap">
        <section class="main">

        </section>
        <section class="content-wrap">
            <h1>입양하기</h1>
            <p>펫에버에서는 이러한 일들을 합니다.</p>
            <div class="content">
                <!-- 여기서 부터 작성 !-->
            </div>
        </section>
    </div>
    <footer>
        <div class="f-wrap">
            <h2>Team Petever</h2>
            <hr style="width:100%">
            <p>qwer123@naver.com</p>
            <p>ⓒ team petever all right reserved</p>
            <p>서울시 강남구 강남대로 185</p>
        </div>
    </footer>
</body>

</html>