<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="message">


	<select id="selectMessageList" resultMap="MessageMap">
		select * 
		from (select M.*, Row_Number() Over(Partition By sub Order By Msg_Num Desc)As Rowidx
		        from(select Msg_Num, User_Id, Receive_Id, Msg_Content, msg_time, replace(concat(user_id, receive_id), #{ userId }, '') as sub
		            from Message) M
		        where user_id = #{ userId } or receive_id = #{ userId} )
		Where Rowidx = 1
		order by msg_time desc
	</select>

	<select id="selectOneMessage" resultMap="MessageMap">
		select
			*
		from
			message
		where
			msg_num = #{msgNo}
	</select>
	
	<select id="selectLastMessage" resultMap="MessageMap">
		select
			*
		from
			message
		where msg_num = (SELECT max(msg_num) FROM message where receive_id = ${receiveId}) ;
	</select>
	
	<select id="selectMessageTotalContents" resultType="_int">
	    select 
	    	count(*) 
	    from 
	    	message 	
	    <where>
			user_Id = #{userId} or receive_id = #{userId} 
	    </where> 
	    
	</select>
	
	<select id="selectGetDate" resultMap="MessageMap">
		select 
			distinct(trunc(msg_time)) as msgTime
		from 
			message 
		where 
			(user_id=#{userId} and receive_id=#{receiveId}) or (receive_id=#{userId} and user_id=#{receiveId})
		order by msgTime asc
	
	</select>
	
	
	
	
	<insert id="insertMessage">
		insert into
			message
		values(
			seq_msg_no.nextval,
			#{userId},
			#{receiveId},
			#{msgContent},
			default
		)
	</insert>
	
	<select id="selectOneUser" resultMap="MessageMap">
		select
			*
		from
			message
		where
			(user_id = #{userId}
			and receive_id = #{receiveId})
			or user_id = #{receiveId}
		order by 
			msg_num asc
	</select>
	
	
	
	<resultMap id="MessageMap" type="message">
		<id column="msg_num" property="msgNo"></id>
	</resultMap>
	
</mapper>