<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="message">


	<select id="selectMessageList" resultMap="MessageMap">
		select	
			m.*
		from 
			(select 
              	msg_num,
              	user_id,
              	receive_id,
              	msg_content,
              	msg_Time,
              	row_number() over(partition by user_Id, receive_id order by msg_num desc)as rowIdx
            from message) m
		where
			rowIdx = 1			
	</select>

	<select id="selectOneMessage" resultMap="MessageMap">
		select
			*
		from
			message
		where
			msg_num = #{msgNo}
	</select>
	
	<select id="selectLastMessage" resultMap="MessageMap">
		select
			*
		from
			message
		where msg_num = (SELECT max(msg_num) FROM message where receive_id = ${receiveId}) ;
	</select>
	
	<select id="selectMessageTotalContents" resultType="_int">
	    select 
	    	count(*) 
	    from 
	    	message 	
	    <where>
			user_Id like '%'||#{receiveId}||'%'	    
	    </where> 
	    
	</select>
	
	<select id="selectGetDate" resultMap="MessageMap">
		select 
			distinct(trunc(msg_time)) as msgTime
		from 
			message 
		where 
			(user_id=#{userId} and receive_id=#{receiveId}) or (receive_id=#{receiveId} and user_id=#{userId})
	
	</select>
	
	
	
	
	<insert id="insertMessage">
		insert into
			message
		values(
			seq_msg_no.nextval,
			#{userId},
			#{receiveId},
			#{msgContent},
			default
		)
	</insert>
	
	<select id="selectOneUser" resultMap="MessageMap">
		select
			*
		from
			message
		where
			(user_id = #{userId}
			and receive_id = #{receiveId})
			or user_id = #{receiveId}
		order by 
			msg_num asc
	</select>
	
	
	
	<resultMap id="MessageMap" type="message">
		<id column="msg_num" property="msgNo"></id>
	</resultMap>
	
</mapper>